@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
    @apply font-extrabold;
  }

  p {
    @apply text-gray-700 text-lg font-light leading-loose mt-2;
  }
}

html {
  background-color: #fff;
  font-family: sans-serif;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

@layer components {
  .nav-link:hover {
    @apply bg-gradient-to-r from-purple-700 to-blue-600 bg-clip-text text-transparent;
  }

  .nav-link-active {
    @apply bg-gradient-to-r from-purple-700 to-blue-600 bg-clip-text text-transparent;
  }
}
